<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input formControlName="search" matInput />
    </mat-form-field>

    @if (needBrandsView()) {
        <div formArrayName="brands" class="checkbox-container">
            @for (brand of brands(); track brand; let index = $index) {
                <mat-checkbox [formControlName]="index">
                    {{ brand }}
                </mat-checkbox>
            }
        </div>
    } @else {
        <mat-spinner diameter="60" class="loader"></mat-spinner>
    }

    <div formGroupName="priceRange" class="price-range">
        <div>
            Min
            <app-counter-input formControlName="min" [step]="5"></app-counter-input>
        </div>
        <div>
            Max
            <app-counter-input formControlName="max"></app-counter-input>
        </div>
    </div>
</form>

{{ getError() | json }}
{{ form.valid }}
{{ error$ | async | json }}
