<!-- <div ngForm class="filter"> -->
<form #ngFormDirective="ngForm" class="filter" (ngSubmit)="onChange(ngFormDirective.value)">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput name="search" [ngModel]="''" />
    </mat-form-field>

    <div *ngIf="brands; else loaderTemplateRef" ngModelGroup="brands" class="checkbox-container">
        <!-- <mat-checkbox *ngFor="let brand of brands(); let index = index" [ngModel]="false" [name]="index.toFixed()"> -->
        <mat-checkbox *ngFor="let brand of brands()" [ngModel]="false" [name]="brand">
            {{ brand }}
        </mat-checkbox>
    </div>
    <div ngModelGroup="priceRange" class="price-range">
        <div>
            Min
            <!-- <app-counter-input [ngModel]="minPrice()" (ngModelChange)="minPrice.set($event)"></app-counter-input> -->
            <!-- <app-counter-input [(ngModel)]="minPrice"></app-counter-input> -->
            <!-- exportAs: 'ngModel' -->
            <!-- <app-counter-input [ngModel]="0" #minModel="ngModel"></app-counter-input>
            {{minModel.value}} -->
            <app-counter-input name="min" [ngModel]="0"></app-counter-input>
        </div>
        <div>
            Max
            <app-counter-input name="max" [ngModel]="999999"></app-counter-input>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>

<!-- {{minPrice()}} -->

<ng-template #loaderTemplateRef>
    <mat-spinner diameter="60" class="loader"></mat-spinner>
</ng-template>
