/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.p-1 {
    padding: 4px;
}

.py-1 {
    padding: 4px 0;
}
.py-2 {
    padding: 8px 0;
}
.py-3 {
    padding: 12px 0;
}
.py-4 {
    padding: 16px 0;
}

.container {
    max-width: 1248px;
    padding: 0 16px;
    margin: 0 auto;
}
